<div class="container mt-4">
    <h2>Album Details</h2>
    <div *ngIf="album">
      <p><strong>UserId:</strong> {{ album.userId }}</p>
      <p><strong>id:</strong> {{ album.id }}</p><p>
        <strong>Title:</strong>
        <span *ngIf="!isEditing">{{ album?.title }}</span>
        <input *ngIf="isEditing" [(ngModel)]="albumTitle" />
      </p>
      
      <button *ngIf="!isEditing" (click)="enableEditing()">Редактировать</button>
      <button *ngIf="isEditing" (click)="saveTitle()">Сохранить</button>
      <p><a [routerLink]="['/albums', album.id, 'photos']">Смотреть фото</a>

      </p>
      <a routerLink="/albums" class="btn btn-primary">Back</a>
    </div>
  </div>
<router-outlet /> 