<html>
<div class="mai">
    <Div>
        <h1>
            About...
        </h1>
        <h2>Simon Riley</h2>
    </Div>
    <Div class="port">
        <div><img src="https://is1-ssl.mzstatic.com/image/thumb/Music123/v4/6e/92/c4/6e92c414-9627-3cd4-af0e-c79c23196134/artwork.jpg/600x600bb.jpg" alt=""></div>
        <div class="info">
            <span>
            Lieutenant Simon "Ghost" Riley is a British special forces operator, and <br>
            a prominent member of Task Force 141, known for his iconic skull-patterned <br>
            balaclava, headset, and dark red sunglasses.<br><br>
            </span>
            <span>
                Using resources from his blank check, Shepherd deduced the last two safe havens for Makarov and his men at<br>
                a safehouse on the Georgian-Russian Border and an airplane boneyard in Afghanistan. Knowing they have to be<br>
                at two different places at once, Ghost nominates himself and Roach, along with a bulk of Task Force 141, to<br>
                take the safehouse, while Soap and Price investigate the boneyard. After raiding the safehouse however, Makarov<br> 
                was nowhere to be found, though the safehouse was loaded ("A bloody gold mine" as Ghost said) with intel. Ghost,<br>
                along with Roach, Ozone and Scarecrow, with sniper support from Archer and Toad, protected a DSM from Makarov's men <br>
                while it downloaded sensitive information regarding Makarov's operations. After finishing the download, the team headed <br>
                to the LZ that was set up by Shepherd, though Ozone and Scarecrow were both gunned down by enemy mortars, and Roach was <br>
                injured. Ghost managed to get Roach to the LZ, but both were ultimately betrayed by Shepherd, who fatally shot the two <br>
                in the chest at point-blank range with a .44 Magnum, just before Ghost could use his ACR. After Shepherd retrieved the <br>
                DSM from Roach, Ghost's body was thrown into a ditch and set on fire along with Roach's.<br>
            </span>
        </div>
    </Div>
</div>
</html>